<div class="row">
    <div class="panel panel-default col-sm-10 col-sm-offset-1">
        <div class="panel-header">
            <h4>{{post.from.name}}</h4>
        </div>
        <div class="panel-body">
            <div ng-bind-html="HTMLify(linkify(post.message))"></div>
            <ul class="list-inline">
                <li>
                    <span class="glyphicon glyphicon-comment"></span>
                    {{post.comment_count}} Comments
                </li>
                <li>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    {{post.like_count}} Likes
                </li>
            </ul> 
            <h4>Comments:</h4>
            <div class="panel panel-default col-sm-10 col-sm-offset-1" ng-repeat="comment in post.comments">
                <h5 class="panel-heading">{{comment.from.name}}</h5>
                <div class="panel-body">
                    <div ng-bind-html="HTMLify(linkify(comment.message))"></div>
                </div>
                <div>
                    <hr>
                    <p>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        {{comment.like_count}} Likes
                    </p>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            
        </div>
    </div>
</div>